<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails des Paiements</title>
  <link rel="stylesheet" th:href="@{/css/details.css}">

  <!-- jQuery et DataTables -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>

<a href="/dashboard" class="btn">⬅ Retour au Dashboard</a>
<br/><br/>
<h2 class="entete">Détails des Paiements</h2>

<table id="paymentsTable">
  <thead>
  <tr>
    <th>Date de paiement</th>
    <th>Source du paiement</th>
    <th>Montant</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="payment : ${paiements}">
    <td th:text="${#temporals.format(payment.getPaymentDate(), 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="${payment.getPaymentSource()}"></td>
    <td th:text="${payment.getAmount() / 100}"></td>
    <td th:text="${payment.getDescription()}"></td>
  </tr>
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $("#paymentsTable").DataTable({
      "paging": true,
      "searching": true,
      "info": true,
      "lengthChange": false,
      "pageLength": 10
    });
  });
</script>

</body>
</html>
