<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Taches</title>
  <link rel="stylesheet" th:href="@{/css/details.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>

<a href="/dashboard" class="btn">⬅ Retour au Dashboard</a>
<br/><br/>
<h2 class="entete">Liste des Taches</h2>

<!--<label for="statusFilter">Filtrer par statut :</label>-->
<!--<select id="statusFilter">-->
<!--    <option value="">Tous</option>-->
<!--    <option th:each="status : ${statuses}" th:value="${status.getTitle()}" th:text="${status.getTitle()}"></option>-->
<!--</select>-->

<table id="tachesTable">
  <thead>
  <tr>
    <th>Titre</th>
    <th>Client</th>
    <th>Date limite</th>
    <th>Créé le</th>
    <th>Assigné à</th>
    <th>Statut</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="tache : ${taches}">
    <td th:text="${tache.getTitle()}"></td>
    <td th:text="${tache.getClientName()}"></td>
    <td th:text="${#temporals.format(tache.getDeadline(), 'dd/MM/yyyy')}"></td>
    <td th:text="${#temporals.format(tache.getCreatedAt(), 'dd/MM/yyyy')}"></td>
    <td th:text="${tache.getAssigneeName()}"></td>
    <td>
            <span th:text="${tache.getStatus().getTitle()}"
                  th:style="'background-color:' + ${tache.getStatus().getColor()} + ';
                  padding: 5px; color: white; border-radius: 5px; display: inline-block;'">
            </span>
    </td>
  </tr>
  </tbody>
</table>

<script>
  $(document).ready(function () {
    let table = $("#tachesTable").DataTable({
      "paging": true,
      "searching": true,
      "info": true,
      "lengthChange": false,
      "pageLength": 10
    });

    $("#statusFilter").on("change", function () {
      let status = $(this).val();
      table.column(5).search(status).draw();
    });
  });
</script>

</body>
</html>
