<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails des Clients</title>
  <link rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>

<a href="/dashboard" class="btn">⬅ Retour au Dashboard</a>
<br/><br/>
<h2 class="entete">Liste des Clients</h2>

<table>
  <thead>
  <tr>
    <th>Company</th>
    <th>VAT</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="client : ${clients}">
    <td th:text="${client.getCompanyName()}"></td>
    <td th:text="${client.getVat()}"></td>
    <td th:text="${client.getAddress()}"></td>
  </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<script>
  $(document).ready(function () {
    $("table").DataTable({
      "paging": true,
      "searching": true,
      "info": true,
      "lengthChange": false,
      "pageLength": 10
    });
  });
</script>
</body>
</html>
